#Mise à jour automatique du fichier resources/config.properties
#Fri Apr 17 20:47:53 CEST 2026
app.debug=true
app.log.file=monopoly.log
app.log.level=DEBUG
app.mode=dev
db.autoReconnect=true
db.characterEncoding=UTF-8
db.driver=com.mysql.cj.jdbc.Driver
db.login=
db.name=polysio
db.password=
db.pool.connectionTimeout=30000
db.pool.maxSize=20
db.pool.minSize=5
db.port=3036
db.privateKey=moiqsdjhdfrgouisdfghqERTGTGPMOLikzerzefoijzef
db.serverTimezone=UTC
db.type=MYSQL
db.url=jdbc\:mysql\://localhost\:3306/polysio
db.useSSL=false
db.useUnicode=true
db.utilisateur=usernametest
